<form [formGroup]="formularioRegistro" class="was-validated">
    <div class="mb-3">
        <label for="registroUsuario" class="form-label">Registro de Usuario</label>

    </div>
    <div class="mb-3">
        <label for="exampleInputNombre" class="form-label">Nombres</label>
        <input formControlName="nombres" type="text" class="form-control" id="exampleInputNombre" required>
        <div class="valido" *ngIf="formularioRegistro.controls['nombres'].dirty && formularioRegistro.controls['nombres'].valid">Campo correcto</div>
        <div class="invalido" *ngIf="formularioRegistro.controls['nombres'].errors?.['required']">El campo Nombre no puede ser vacío</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputApellido" class="form-label">Apellidos</label>
        <input formControlName="apellidos" type="text" class="form-control" id="exampleInputEmail1" required>
        <div class="valido" *ngIf="formularioRegistro.controls['apellidos'].dirty && formularioRegistro.controls['apellidos'].valid">Campo correcto</div>
        <div class="invalido" *ngIf="formularioRegistro.controls['apellidos'].errors?.['required']">El campo Apellido no puede ser vacío</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Cuidad</label>
        <input formControlName="ciudad" type="text" class="form-control" id="exampleInputEmail1" required>
        <div class="valido" *ngIf="formularioRegistro.controls['ciudad'].dirty && formularioRegistro.controls['ciudad'].valid">Campo correcto</div>
        <div class="invalido" *ngIf="formularioRegistro.controls['ciudad'].errors?.['required']">El campo ciudad no puede ser vacío</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Edad</label>
        <input formControlName="edad" type="number" class="form-control" id="exampleInputEmail1" required>
        <div class="valido" *ngIf="formularioRegistro.controls['edad'].dirty && formularioRegistro.controls['edad'].valid">Campo correcto</div>
        <div class="invalido" *ngIf="formularioRegistro.controls['edad'].errors?.['required']">El campo edad no puede ser vacío</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Correo</label>
        <input formControlName="correo" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div class="valido" *ngIf="formularioRegistro.controls['correo'].dirty && formularioRegistro.controls['correo'].valid">Campo correcto</div>
        <div class="invalido" *ngIf="formularioRegistro.controls['correo'].dirty && formularioRegistro.controls['correo'].errors?.['required']">El campo correo no puede ser vacío</div>
        <div class="invalido" *ngIf="formularioRegistro.controls['correo'].dirty && formularioRegistro.controls['correo'].errors?.['pattern']">El campo correo tiene un formato incorrecto</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input formControlName="contrasena" type="password" class="form-control" id="exampleInputPassword1">
        <div class="valido" *ngIf="formularioRegistro.controls['contrasena'].dirty && formularioRegistro.controls['contrasena'].valid">Campo correcto</div>
        <div class="invalido" *ngIf="formularioRegistro.controls['contrasena'].dirty && formularioRegistro.controls['contrasena'].errors?.['required']">El campo contraseña no puede ser vacío</div>
        <div class="invalido" *ngIf="formularioRegistro.controls['contrasena'].dirty && formularioRegistro.controls['contrasena'].errors?.['minlength']">El campo contraseña debe tener al menos 6 caracteres</div>
    </div>
    <div class="mb-3 form-check">
        <input formControlName="recordarCredenciales" type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Aceptar Terminos de Registro</label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="registro()"> Submit</button>
</form>